

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rock+Salt&display=swap');
 
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
} 

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    
}


#content {
    max-width: 1600px;
    margin: 0 auto;
}

.icon {
    padding-top: 10px;
    width: 80px;
}

.home-title {
    margin-top: 10px;
    font-size: 2em;
    font-family: "Rock Salt", Helvetica, sans-serif, serif;
    color: #cc7c3c;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;

}

#hero-msg h4 {
    color: white;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}


#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
    grid-column: 2/4;
    grid-row: 1/3;
}


h4 {
    text-align: center;
    color: #ab5723;
}

.button-box {
    text-align: center;

}

main section {
    text-align: center;

}

body {
    font-size: 22px;
    font-family: "Roboto", Helvetica, sans-serif, serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #8dcce2;
}

.logo {
    width: 80px;
    z-index: 100;
    opacity: auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    background-color: #8dcce2;
    color: black;
    text-align: center;
    margin: 35px;

}

nav a:hover {
    background-color: #ab5723;
    color: white;

}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}  

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.book, .join {
    border-radius: 5px;
    margin-top: 50px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #8dcce2;
    color: black;
    text-decoration: none;
}

.book:hover, .join:hover {
   background-color: #cc7c3c; 
   color: white;

}

#background {
    height: 725px;
    background-color: tan;
    grid-column: 1/11;
    grid-row: 4/9;

}

main section img {
    box-sizing: border-box;
}

.card-img {
    border: 10px solid #ab5723;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.msg {
    padding: 35px;
    background-color: tan;
    margin-top: 50;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
    line-height: 1.5em;
}

.msg h2 {
    color: #ab5723;
}

.msg p {
    padding-bottom: 15px;
    font-size: .8em;
    color: #af5723;
}

.mountains {
    width: 100%;
    margin: 100px;
    margin-left: 0px;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

footer {
    margin-top: 200px;
    padding: 25px 50px;
    background-color: #8dcce2;
    font-family: "Roboto", Helvetica, sans-serif, serif;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

footer h3 {
    color: #8dcce2;

}

footer a {
    text-decoration: none;
    background-color: #8dcce2;
    color: black;

}

footer a:hover {
    background-color: #cc7c3c; 
    color: white;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: none;
}

footer .social img {
    padding-top: 15px;
}