body {
    font-family: 'Poppins', sans-serif;
}

section {
    height: 500px;
    background-color: white;
    border: solid black 1px;
}

.hero {
    background-image: url("images/Eladrin\ Wizard\ Commission\,\ Erin\ Petersen.jpg");
    background-color: #1c1d25;
    /*vh is viewpoint height, meaning it will take the initial 
    screen size and use the number prefix as a percentage to determine the height of the selector*/
    height: 100vh;

    color: white;
    font-size: 30px;
}

footer {
    height: 500px;

    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 80px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 40px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 55;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color:#ef744b;

}

button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.socials {
    padding-bottom: 200px;
}

.logo {
    height: 100px;
    margin: 30px;
}

.social {
    margin: 20px;
}

/* page 2, about me  */

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.headshot {
    margin: 30px;
    width: 400px;
    border-radius: 200px;
}