
.hero-img {
    z-index: -1;
    width: 100%;
}

.hero {
    /* border: solid red 2px;
    position: relative;
    text-align: center;
    color: rgb(177, 21, 21);
    height: 100vh;
    width: 100%;
    background-image: url("images/guys\ playing\ cards.jpg");
    background-color: #1c1d25; */

    background-image: url("images/guys\ playing\ cards.jpg");
    /*vh is viewpoint height, meaning it will take the initial 
    screen size and use the number prefix as a percentage to determine the height of the selector*/
    height: 100vh;

    color: white;
    font-size: 30px;
}

